.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    width: auto;
  }

.container_product{
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }


  
.container h1, .container h2 {
    text-align: center;
}
