.equipos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

.equipo {
    width: 45%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd; /* Borde alrededor de cada equipo */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación */
}

.equipo:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el mouse */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
}


.equipo img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-right: 10px;
}
.equipos p{
    text-align: center;
    margin: 0;
    font-size: 18px;

}

.equipo h3 {
    margin: 0;
    font-size: 18px;
    color: var(--primary-color);
}

.equipo a {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 20px;
}

.equipos h2{
    text-align: center;
}

