/* Sección Historia */
@import url(../root.css);
.historia {
    width: 60%;
    background-color: var(--border-color); /* Fondo gris claro */
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 20px auto; /* Centra la sección */
}

.historia h2 {
    text-align: center;
    font-size: 2.2em;
    color: var(--primary-color);
    margin-bottom: 20px;
    line-height: 1.3;
    transition: color 0.3s ease;
}

.historia h3 {
    color: var(--secondary-color);
    font-size: 1.6em;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--border-color);
    line-height: 1.4;
    transition: color 0.3s ease;
}

.historia p {
    font-size: 1.15em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: justify;
}

.historia section {
    border-left: 4px solid var(--primary-color);
    padding-left: 15px;
    margin-bottom: 20px;
}

/* Efecto hover para los títulos */
.historia h2:hover,
.historia h3:hover {
    color: var(--hover-color); /* Define este color en tus variables CSS */
}


