@import url(./Pags/comprar.css);
@import url(./Pags/equipos.css);
@import url(./Pags/historia.css);
@import url(./Pags/resultados.css);
@import url(./Pags/tienda.css);
@import url(./components/fotter.css);
@import url(./components/nav.css);
@import url(./components/container.css);
@import url(./Pags/index.css);

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-direction: column;

  }
